[server]
ims_host = ims-na1.adobelogin.com
ims_endpoint_jwt = /ims/exchange/jwt

[enterprise]
; All the following values need to be replaced with the values from AdobeIO integration
api_key = af80375bec544eb493ed271373b12191
org_id = 20656D0F5B9975B20A495E23@AdobeOrg
; replace the dummy value
client_secret = dummy
tech_acct = F98D7E725CCA6F770A495FD9@techacct.adobe.com
; To create a public and private key pair, use the following command
;openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -keyout private.key -out certificate_pub.crt
priv_key_filename = private.key

[Platform]
platform_gateway = https://platform.adobe.io

[Titles for Schema and Dataset]
class_title = Class_1
mixin_title = Mixin_1
schema_title = Schema_1
dataset_title = Dataset_1
file_with_tenant_id = RetailDataWithTenantId.json
